extends ../layout

block content
  h3.white-text Sign in
  form(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='email') Email
      .col-md-7
        input.white-text(type='email', name='email', id='email', placeholder='Email', autofocus, autocomplete='email', required)
    .row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='password') Password
      .col-md-7
        input.white-text(type='password', name='password', id='password', placeholder='Password', autocomplete='current-password', required)
    .row
      button.app-btn.btn(type='submit') Login
      a#forgot-password.app-btn.btn(href='/forgot') Forgot your password?
    .row
    .row
      a.app-btn.btn(href='/auth/google') Sign in with Google
