footer
  footer.page-footer.white
    .container
      .row
        .col.l6.s12
          h5.black-text Company Bio
          p.black-text
            | We are a team of college students working on this project like it&apos;s our full time job. Any amount would help support and continue development on this project and is greatly appreciated.
        .col.l3.s12
          h5.black-text Settings
          ul
            li
              a.black-text(href='#!') Link 1
            li
              a.black-text(href='#!') Link 2
            li
              a.black-text(href='#!') Link 3
            li
              a.black-text(href='#!') Link 4
        .col.l3.s12
          h5.black-text Connect
          ul
            li
              a.black-text(href='#!') Link 1
            li
              a.black-text(href='#!') Link 2
            li
              a.black-text(href='#!') Link 3
            li
              a.black-text(href='#!') Link 4
    .footer-copyright
      .container.black-text
        | Made by 
        a.app-blue-text(href='http://materializecss.com') Materialize
