footer
  footer.page-footer.white
    .container
      .row
        .col.l6.s12
          h5.black-text Tutr - Fast and Easy Tutoring
          p.black-text
            | We are a team of college students working to connect students with Tutrs as fast as possible. COVID-19 has made studying difficult, and Tutr is here to help when you're struggling with concepts in school.
        .col.l3.s12
          h5.black-text Links
          ul
            li
              a.black-text(href='/search') Search
            li
              a.black-text(href='/tutor') Tutor
            li
              a.black-text(href='/login') Log-in
            li
              a.black-text(href='/signup') Sign-up
            li
              a.black-text(href='/profile') Profile
        .col.l3.s12
    .footer-copyright
      .container.black-text
        | Made with ♥ in Philadelphia
