div.navbar-fixed
  nav.z-depth-0.white
    div.nav-wrapper.no-shadows
      ul#nav-mobile.right.hide-on-med-and-down
        if !user
          li.nav-item(class=(title === 'Login') ? 'active' : undefined)
            a.nav-link(href='/login') Login
          li.nav-item(class=(title === 'Create Account') ? 'active' : undefined)
            a.nav-link(href='/signup') Create Account
        else
          li(class=(title === 'Home') ? 'active' : undefined)
            a.nav-text(href='/') Home
          li(class=(title === 'Search') ? 'active' : undefined)
            a.nav-text(href='/search') Search
          li(class=(title === 'Logoff') ? 'active' : undefined)
            a.nav-text(href='/logout') Log Out  
          li(class=(title === 'Chat') ? 'active' : undefined)
            a.nav-text(href='/chat') Chat
          li
            a.profile-link(href='/profile')
              if user.profile.picture
                img.profile-picture(src=user.profile.picture)
              else
                img.profile-picture(src=user.gravatar(64))
