extends layout

block content
  #index-banner.section.no-pad-bot
    .container
      h1.header.center.white-text Welcome to Tutr 
      br
      br
    .container
      div.row
        div.col.s3
        div.col.s3
          if !user
            a.white.black-text.z-depth-0.left.rounded-border(href='/signup') Login
          else
            a.white.black-text.z-depth-0.left.rounded-border(href='/tutor') Tutor
        div.col.s3
          a.white.black-text.z-depth-0.right.rounded-border(href='/search') Learn
        div.col.s3