extends layout

block content
  #index-banner.section.no-pad-bot
    .container
      br
      br
      h1.header.center.white-text Tutor.Space
      br
      br
    #index-banner.section.no-pad-bot
    .container
      br
      br
      .row
        form.col.s12
          .row
            .input-field.col.s12
              textarea#search-bar.materialize-textarea.white-text
              label.white-text(for='search-bar') What are you looking to learn?