extends layout

block content
  #index-banner.section.no-pad-bot
    .container
      br
      br
      h1.header.center.white-text Tutor.Space
      br
      br
    .container
      div.row
        div.col.s3
        div.col.s3
          a.white.black-text.z-depth-0.left.rounded-border Teach
        div.col.s3
          a.white.black-text.z-depth-0.right.rounded-border Learn
        div.col.s3