extends layout

block content
  #index-banner.section.no-pad-bot
    .container
      br
      br
      h1.white-text Your Profile Information
      img.circle(src=user.gravatar() height='250', width='250')
      ul
       li(class=(title === 'Name') ? 'active' : undefined)

      button(type='button' name='button' onclick= "location.href='/account'")
        | Edit Profile
      

      