extends layout

block content
  #index-banner.section.no-pad-bot
    .container
      br
      br
      img.circle(src=user.gravatar() height='250', width='250')
      button(type='button' name='button' onclick= "location.href='/account'")
        | Edit Profile
      


        
      

      