extends layout

block content
  #index-banner.section.no-pad-bot
    #search-container.container
      br
      br
      .row
        form.col.s12(action='/search', method='POST', id="search-form")
          input#question.validate.white-text(type="text", name="question", placeholder="What do you need help with?")