.profile-picture {
    padding: 9px !important;
    border-radius: 50% !important;
    height: fit-content !important;
}

.rounded-border {
    font-size: 30px;
    background: #EAE8EF;
    border-radius: 50px 50px 50px 50px;
    padding: 15px 50px;
}

a.nav-text {
    color: #000 !important;
}

.app-background {
    background-color: #2A3251 !important;
}

.app-blue-text {
    color: #2A3251 !important;
}

.app-nav-buttons {
    padding: 0 30px !important;
}

.profile-link {
    padding: 0px !important;
    transition: none !important;
}

.profile-link:hover {
    background-color: rgba(0, 0, 0, 0.0) !important;
}

#question:focus {
    border-bottom: 1px solid #ffffff !important;
    box-shadow: 0 1px 0 0 #ffffff !important;
}

.app-btn {
    color: #000000 !important;
}

.btn-danger {
    color: red !important;
}

#search-container {
    margin-top: 10%;
    margin-bottom: 25%;
}

#index-banner {
    margin-top: 7%;
}

footer {
   position:fixed;
   left:0px;
   bottom:0px;
   width:100%;
}

#forgot-password {
    margin-left: 20px;
}

.brand-logo {
    margin-left: 20px;
}